.svgWrapper {
  width: 80%;
}

.point {
  cursor: pointer;
}

.line,
.circle,
.image,
.title,
.description {
  opacity: 0;
}

.description {
  font-size: 18px;
  fill: #fff;
  font-family: Montserrat-Regular, Montserrat;
}
