.cls-10 {
  font-size: 18px;
  fill: #d5373a;
  font-family: Montserrat-Bold, Montserrat;
  font-weight: 700;
}
.cls-13,
.cls-14 {
  fill: transparent;
  stroke: #fff;
  stroke-miterlimit: 10;
}
.cls-13 {
  stroke-width: 2px;
}
.cls-14 {
  stroke-width: 3px;
}

.svgWrapper {
  width: 80%;
}

.point {
  cursor: pointer;
}

.line,
.circle,
.image,
.title,
.description {
  opacity: 0;
}

.description {
  font-size: 18px;
  fill: #fff;
  font-family: Montserrat-Regular, Montserrat;
}
